[package]
name = "rsbinder"
version = "0.2.2"
edition = "2021"
license = "Apache-2.0"
description = "This is a library for Linux Binder communication."
homepage = "https://hiking90.github.io/rsbinder-book/"
repository = "https://github.com/hiking90/rsbinder"
readme = "README.md"
rust-version = "1.71"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[features]
default = ["tokio"]
sync = ["rsbinder-aidl/sync"]
tokio = ["async", "tokio/full"]
async = ["rsbinder-aidl/async", "async-trait"]

[dependencies]
nix = { version = "0.28", features = ["ioctl", "mount", "fs", "feature", "mman", "process"] }
log = "0.4"
pretty_hex = { version = "0.4", package = "pretty-hex" }
downcast-rs = "1.2"
async-trait = { version = "0.1", optional = true }
lazy_static = "1.4"
tokio = { version = "1.35", optional = true, default-features = false }

[build-dependencies]
rsbinder-aidl = { version = "0.2.2", path = "../rsbinder-aidl", default-features = false }

[dev-dependencies]
env_logger = "0.11"
