[package]
name = "example-hello"
version = { workspace = true }
publish = false
edition = { workspace = true }
license = { workspace = true }

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
rsbinder = { workspace = true, features = ["android_11_plus"] }
env_logger = { workspace = true }
async-trait = { workspace = true }

[build-dependencies]
rsbinder-aidl = { workspace = true, features = ["async"] }
